{% extends 'base.html' %} {% block content %}
<h1>Tonopedia</h1>

<h5>NPM: {{ npm }}</h5>

<h5>Name: {{ name }}</h5>

<h5>Class: {{ class }}</h5>

{% if not product_entries %}
<p>Belum ada produk yang diunggah.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini
  {%endcomment %} {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product</button>
</a>
{% endblock content %}
